{% extends "base.html.twig" %}

{% block body %}

	<div class="container">

		<form class="m-5 row d-flex">
			<div class="col-sm-4  mx-auto">
				<label for="validationDefault01" class="form-label">First name</label>
				<input type="text" class="form-control" id="validationDefault01" required>

				<label for="validationDefault02" class="form-label">Last name</label>
				<input type="text" class="form-control" id="validationDefault02" required>

				<label for="validationDefaultUsername" class="form-label">Email</label>
				<input type="text" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required>

				<label for="inputPassword" class="form-label">Mot de passe</label>
				<input type="password" class="form-control" id="inputPassword">

				<div>
					<input class="form-check-input" type="checkbox" id="invalidCheck2">

					<label class="form-check-label" for="invalidCheck2">
						Créer un compte vendeur
					</label>
				</div>

				<div class="" style="margin-top: 9px">
					<button class="btn btn-primary" type="submit">Valider</button>
				</div>
			</div>

		</form>
	</div>
{% endblock %}
