{% extends "base.html.twig" %}

{% block body %}
	<!-- grille catégories -->
	<section id="content">

		{% for magasin in magasins %}
			<article>
				<div class="card border-light mb-3" id="articlesRecents" style="max-width: 25rem;margin:1.5em;">
					<a href="/shop/{{magasin.id}}" class="magasin">
						<img src="{{magasin.image}}" alt="">
						<div class="info">
							<h4>{{ magasin.nom }}</h4>
							<p>{{magasin.description}}</p>
						</div>
					</a>
				</div>
			</article>
		{% endfor %}

	</section>

{% endblock %}
