{% extends "base.html.twig" %}

{% block body %}

	<div class="recherche-mag">
		<div class="form-group">

			{{ form_start(searchForm) }}

			{{ form_widget(searchForm) }}

			<button class="btn btn-outline-secondary">Rechercher</button>
			{{ form_end(searchForm) }}
		</div>
	</div>

	<!-- grille catégories -->
	{% include 'module/categories.html.twig' %}

	<!-- grille des plus consultés -->
	{% include 'module/articlespopulaire.html.twig' %}

{% endblock %}
