{% extends "base.html.twig" %}

{% block headScripts %}
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
{% endblock %}

{% block body %}

	<div class="container">
		<div class="col-md-7 mx-auto">
			<div class="search-box input-group mb-3">
				<input id="recherche" type="text" class="form-control" placeholder="Recherche" autocomplete="off">
				<div class="result"></div>
			</div>
		</div>
	</div>

	<!-- Résultat de recherche -->
	<div class="container">
		<div id="search-result" class="mb-5"></div>
	</div>

	<!-- Magasins autour -->
	<div class="container">
		<h3>Magasins autour de chez vous !</h3>
		<div class="swiper-container">
			<div class="swiper-wrapper"></div>
		</div>
	</div>


	<!-- grille des plus consultés -->
	{% include 'module/articlespop.html.twig' %}
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('search') }}
	{{ encore_entry_script_tags('map') }}
{% endblock %}
