{% extends "base.html.twig" %}

{% block headScripts %}{% endblock %}

{% block body %}

	<!-- grille catégories -->
	{% include 'module/categories.html.twig' %}

	


	<!-- Résultat de recherche -->
	<div class="container">
		<div id="search-result" class="mb-5"></div>
	</div>


	<!-- Magasins autour -->
	<div class="container">
		<div id="map" style="height: 400px"></div>
		<h3>Magasins autour de chez vous !</h3>
		<div class="swiper-container">
			<div class="swiper-wrapper"></div>
		</div>
	</div>


	<!-- grille des plus consultés -->
	{% include 'module/articlespop.html.twig' %}
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('search') }}
	{{ encore_entry_script_tags('map') }}
{% endblock %}
