{% extends "base.html.twig" %}

{% block headScripts %}
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
{% endblock %}

{% block body %}

	<!-- grille catégories -->
	{% include 'module/categories.html.twig' %}

	<!-- barre de recherche -->
	{% include 'module/recherche.html.twig' %}

	<!-- Magasins autour -->
	<div class="container">
		<h3>Magasins autour de chez vous !</h3>
		<div class="swiper-container">
			<div class="swiper-wrapper"></div>
		</div>
	</div>


	<!-- grille des plus consultés -->
	{% include 'module/articlespop.html.twig' %}

{% endblock %}

{% block javascripts %}
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	{{ encore_entry_script_tags('map') }}
{% endblock %}

