{% extends "base.html.twig" %}


{% block body %}
	<!-- module recherche -->
	{% include 'module/recherche.html.twig' %}

	<div class="container">
		<section id="content">
			{% for objet in resultat %}
				<div class="card mb-3">
					<div class="row g-0">
						<div class="col-md-4">
							{% if objet.getImage.0 is defined %}
								<img src="{{objet.getImage.0.image}}" alt="..." style="width: 100%">
							{% else %}
								<img src="{{objet.image}}" alt="..." style="width: 100%">
							{% endif %}
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title">{{ objet.nom }}</h5>
								<p class="card-text">{{objet.description}}</p>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</section>
	</div>


	<!-- grille catégories -->
	{% include 'module/categories.html.twig' %}


	<!-- grille des plus consultés -->
	{% include 'module/articlespop.html.twig' %}

{% endblock %}
