<h1>Veuillez confirmer votre adresse email!</h1>

<p>

	Pour confirmer votre adresse email, cliquez sur le lien ci-dessous:
	<br><br>
	<a href="{{ signedUrl|raw }}">Je confirme mon adresse email</a>.
				    Ce lien expire dans :
	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
	Cordialement !
</p>
