{% extends "base.html.twig" %}

{% block body %}
    <button type="button" id="Locate" class="btn btn-primary">Localisation</button>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/localisation.js') }}"></script>
{% endblock %}