{{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <h3>Localisez votre magasin !</h3>
    <div id="map"></div>

    <h3>Détails</h3>
{{ form_end(form) }}