{% extends 'base.html.twig' %}

{% block headScripts %}
	<link rel="stylesheet" href="{{ asset('css/map.css') }}">
{% endblock %}

{% block body %}
	<div class="form-header">
		<div class="container">
			<h1>Mon profil</h1>
			<p>Consultez & modifiez vos informations personnelles</p>
		</div>
	</div>
    <div class="container">
        {{ include("utilisateur/edit.html.twig", {form: form, button: 'Créer'}) }}
    </div>

{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('map') }}
{% endblock %}