{% extends 'base.html.twig' %}

{% block body %}
	<div class="form-header">
		<div class="container">
			<h1>Mes magasins</h1>
			<p>Créez, consultez et modifiez vos magasins</p>
		</div>
	</div>
    
    

{% endblock %}
