{% extends 'base.html.twig' %}

{% block body %}
	<div class="form-header">
		<div class="container">
			<h1>Mes magasins</h1>
			<p>Créez, consultez et modifiez vos magasins</p>
		</div>
	</div>
    <div class="container">
            {% for magasin in magasins %}
            <div class="col-sm-8 mx-auto">
                <div class="card mb-3">
                    <h5 class="card-header">{{ magasin.nom }}</h5>
                    <div class="card-body">   
                        <p class="card-text">{{ magasin.adresse}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline-info" href="{{ path('app_magasin_show', { id: magasin.id })  }}" type="button"><i class="far fa-eye"></i> Voir</a>
                                    <a class="btn btn-sm btn-outline-secondary" type="button"><i class="far fa-edit"></i> Editer</a>
                                    <a class="btn btn-sm btn-outline-danger" type="button" href="{{ path('app_magasin_delete', { id: magasin.id })  }}"><i class="far fa-trash-alt"></i> Supprimer</a>
                                </div>
                            </div>
                    </div>
                </div>
           </div>
        {% endfor %}
        
        <a href="/shop/new" class="btn btn-info btn-block col-8 mx-auto" type="button">Ajouter un nouveau magasin</a>
    </div>
{% endblock %}
