<section class="categories-container">
	<div class="title">
		<h2>Catégories</h2>
	</div>
	<div class="categories">
		<a href="/categorie/1" id="cat1" class="content">
			<img src="image/boucherie.jpg" alt="image1">
			<div class="overlay">
				<div class="text">Boucherie</div>
			</div>
		</a>
		<a href="/categorie/2" id="cat2" class="content">
			<img src="image/pharmacie.jpg" alt="image2">
			<div class="overlay">
				<div class="text">Pharmacie</div>
			</div>
		</a>
		<a href="/categorie/3" id="cat3" class="content">
			<img src="image/animalier.jpg" alt="image3">
			<div class="overlay">
				<div class="text">Animalier</div>
			</div>
		</a>
		<a href="/categorie/4" id="cat4" class="content">
			<img src="image/boulangerie.jpg" alt="image4">
			<div class="overlay">
				<div class="text">Boulangerie</div>
			</div>
		</a>
		<a href="/categorie/5" id="cat5" class="content">
			<img src="image/epicerie.jpg" alt="image5">
			<div class="overlay">
				<div class="text">Epicerie</div>
			</div>
		</a>
		<a href="/categorie/6" id="cat6" class="content">
			<img src="image/vetements.jpg" alt="image6">
			<div class="overlay">
				<div class="text">Vêtements</div>
			</div>
		</a>
	</div>
</section>
