<div class="article">
	<div style="display: flex; justify-content: space-between; margin-bottom: 0px;">
		<p style="margin-bottom: 0px">{{ favArticle.nom }}</p>
		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			<i class="far fa-star fas" value="{{favArticle.id}}" style="cursor: pointer"></i>
		{% endif %}

	</div>
	<p style="margin-bottom: 0px">prix:
		{{ favArticle.prix }}€</p>
	<div style="overflow: hidden;">
		{% if favArticle.getImage[0] is defined  %}
			<img src="{{favArticle.getImage[0].image}}">
		{% else %}
			<img src="http://placehold.it/300x300">
		{% endif %}
	</div>
</div>
