<div class="d-flex justify-content-center" style="margin: 50px 0px 50px 0px">
	<div class="col-sm-7 ">
		<div class="form-group text-center ">
			{{ form_start(searchForm) }}

			{{ form_widget(searchForm) }}
			<button class="btn btn-outline-secondary">Rechercher</button>

			{{ form_end(searchForm) }}

			<div id="map" style="height: 400px; margin-top: 30px;"></div>
		</div>
	</div>
</div>

