
	<div class="search-box input-group">
		<i class="fas fa-search" style="line-height: 36px;"></i>
		<input id="recherche" type="text" class="form-control" placeholder="Rechercher un magasin, ou un article..." autocomplete="off">
		<div class="result"></div>
	</div>