<div class="row d-flex justify-content-center" style="margin-top: 10em; margin-bottom: 10em">
	<div class="col-sm-7 ">
		<div class="form-group text-center ">
			{{ form_start(searchForm) }}

			{{ form_widget(searchForm) }}
			<button class="btn btn-outline-secondary" style="margin-top: 10px">Rechercher</button>

			{{ form_end(searchForm) }}
		</div>
	</div>
</div>
