#main-content {
    margin-top: 100px;
    height: 500px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

.shop-item {
  overflow: hidden;
  min-width: 300px;
  width: 50%;
  text-align: left;
  border: 1px rgb(211, 211, 211) solid;
  border-radius: 5px;
}

.shop-item .shop-img {
  overflow: hidden;
  height: 150px;
  width: 100%;
}

.shop-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 100%;
}

.search {
  display:flex;
  margin-top: 10px;
  margin-bottom: 10px;
}