<script src="{{ asset('./js/navbar.js') }}"></script>
<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<img src="{{ asset('./image/logo.svg') }}" alt="" width="30" height="30" class="d-inline-block align-top">
			Mapro
		</a>
		{% if not app.user %}
			<a href="/login" class="btn btn-outline-primary me-md-2">Me connecter</a>
		{% else %}
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
      				<li class="nav-item">
        				<a class="nav-link {% if current_menu is defined and current_menu == 'menu' %}text-info active{% else %}text-success{% endif %}" href="/me">Mon profil</a>
      				</li>
      				<li class="nav-item">
        				{%if is_granted('ROLE_VENDEUR') %}<a class="nav-link {% if current_menu is defined and current_menu == 'shops' %}text-info active{% else %}text-success{% endif %}" href="/me/shops">Mes magasins</a>{% endif %}
      				</li>
      				<li class="nav-item">
        				{%if is_granted('ROLE_ADMIN') %}<a class="nav-link {% if current_menu is defined and current_menu == 'admin' %}text-info active{% else %}text-success{% endif %}" href="{{ path('app_administration_index') }}">Administration</a>{% endif %}
      				</li>
    			</ul>
				<a href="{{ path('app_logout') }}" class="btn btn-outline-primary me-md-2">Me déconnecter</a>
			</div>
		{% endif %}
	</div>
</nav>
