{% extends "base.html.twig" %}



{% block body %}
    <div class="form-header">
        <div class="container">
            <h1>Modifier mon article</h1>
        </div>
    </div>
    <div class="container">
        {{ include("form.html.twig", {form: form, button: 'Créer'}) }}
    </div>
{% endblock %}
