{% extends "base.html.twig" %}

{% block headScripts %}
	<link rel="stylesheet" href="{{ asset('css/map.css') }}">
{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="{{ asset('/css/Form/magasin.new.css') }}"> {% endblock %}

{% block body %}
    <div class="form-header">
        <div class="container">
            <h1>Ajouter un article</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-5">
                {{ include("form.html.twig", {form: form, button: 'Créer'}) }}
            </div>
        </div>
    </div>
{% endblock %}
